body {
  text-size-adjust: 100%;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background: rgb(0, 0, 0);
}

.all {
  display: flex;
  flex-direction:row-reverse;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .all {
    display: block;
  }
}

/* ヘッダー部分 */
header {
  display: none;
  width: 100%;
  height: 60px;
  background: rgb(0, 0, 0);
  border-bottom: 0.5px solid #6d6c6c;
  text-align: center;
  position: fixed; 
  top: 0; 
  z-index: 10;
}

.hdr-logo {
  margin: 15px 0;
}

.hdr-logo  img{
  width: 90px;
  height: 25px;
  margin: 0 auto;
}

.sp-menu{
  display: block;
  padding: 18px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.sp-menu #open {
  font-size: 1.5rem;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

#close {
  display: none;
}

#close.hide {
  display: block;
}

.overlay {
  width: 100%;
  height: 60%;
  font-weight: bold;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgb(0, 0, 0);
  text-align: left;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay li {
  border-bottom: 0.5px solid #6d6c6c;  
  opacity: 0;
  transform: translateY(-16px);
  transition: opacity .3s, transform .3s;
}

.overlay li:hover{
  text-decoration: underline;
}

.overlay li a {
  padding: 15px 25px 15px 5px;
  height: 100%;
  display: block;
  color: #fff;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 14px;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.hdr-icons {
  display: flex;
}

.hdr-icons :hover{
  opacity: 0.8;
}
.overlay li:last-child a{
  padding: 15px 10px;
}

@media screen and (max-width: 760px) {
  header {
    display: block;
  }
}

/* サイドバー */
.side-nav {
  width: 20%;
  height: 100%;
  padding-left: 2%;
  position: fixed;
  top: 0;
}

.side-logo {
  height: 25px;
  width: 90px;
  margin: 30px 0;
}

.side-logo img {
  width: 100%;
  margin: 0 auto;
}

.side-contents {
  padding-left: 16%;
}

.side-menu li a {
  color: #fff;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 14px;
}

.side-menu li a:hover {
  text-decoration: underline;
}

.side-menu li {
  padding-bottom: 20px;
}

.side-icons .fab {
  padding: 45px 10px 0 0;
}

.side-icons .fab:hover {
  opacity: 0.7;
}

@media screen and (max-width: 760px) {
  .side-nav {
    display: none;
  }
}

/* メインコンテンツ */

.contents {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-image {
  width: 100%;
  height: auto;
}

.message-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  padding-bottom: 20px;
  margin: 50px 0;
  border-bottom: 3px solid white;
  display: inline-block;
}

.textarea {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 80px;
}

@media screen and (max-width: 760px) {
  .contents {
    width: 100%;
    position:relative;
    top: 60px;
  }

  .message-wrapper {
    width: 95%;
  }
  
  .textarea {
    width: 100%;
    padding-bottom: 30px;
  }
}

/* photoイメージ */
.photo-imgs img {
  width: 33.33%;
}

span .big-photo {
  width: 100%;
}

@media screen and (max-width: 760px) {
  .photo-imgs img {
    width: 100%;
    height: auto;
  }
  
  span .big-photo {
    width: 100%;
  }
}

/* ブランド部分 */
.brand-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.brand-contents {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.contents-item {
  width: 25%;
  padding: 0 25px;
  text-align: left;
}

.contents-item img {
  width: 100%;
  padding-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .brand-wrapper {
    width: 80%;
  }
  
  .brand-contents {
    display: block;
  }
  
  .contents-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 50px;
    text-align: center;
  }
  
  .contents-item img {
    width: 168px;
    height: 168px;
  }
}


/* プロジェクト部分 */
.project-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
  border-bottom: 1px solid white;
}

.project-item {
  padding-bottom: 70px;
}

.project-item img {
  width: 370px;
  height: 225px;
  margin: 5px 20px 20px;
  float: left;
}

.project-item p {
  text-align: left;
}

@media screen and (max-width: 760px) {
  .project-wrapper {
    padding-bottom: 50px;
    border-bottom: 1px solid white;
  }
  
  .project-item {
    padding-bottom: 70px;
  }
  
  .project-item img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
    float: none;
  }
  
  .project-item p {
    text-align: left;
  }
}

/* 会社概要 */
.company-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.company-contents {
  display: flex;
  padding-top: 30px;
  padding-bottom: 18%;
}

.address {
  width: 40%;
  text-align: left;
  margin: 20px 0;
  padding-right: 4%;
}

.ggmap {
  width: 60%;
  height: 200px;
  position: relative;
  padding-bottom: 25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .company-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .company-contents {
    display: block;
    padding-top: 0;
    padding-bottom: 18%;
  }
  
  .address {
    width: 100%;
    margin-bottom: 40px;
  }
  
  .ggmap {
    width: 90%;
    height: 200px;
    margin: 0 auto;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


/* フッター部分 */
footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

footer p {
  padding: 30px 0 70px;
  font-size: 12px;
}

footer a {
  color: blue;
}